<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>House-owner-assistant.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DB32CE691D48893000F6FDA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB32CE851D48893000F6FDA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB32CE901D48893000F6FDA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
